
.icon-right-hand:before { content: '\e800'; } /* '' */
.icon-down-hand:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */