*{
    box-sizing: border-box;
}


.container{
    border:5px solid black;
}
.container>*{
    border:5px solid red;
    
}

.container header{
    border:5px solid gray;

}


.container .content{
    border:5px solid blue;

}

.container .content>*{
    border:5px solid green;

}
.container .content main{

border:5px solid palevioletred;
}
.container .content nav{

border:5px solid palegoldenrod;
}
.container .content aside{

border:5px solid purple;
}
.container footer{

border:5px solid plum;
}