@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

/* css 초기화 */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* 창 모두 쓰기 */
    min-height: 100vh;
    background: #373737;
}

/* text Email Validation Check*/
h3{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: #f9f9f9;
    /* 글자 간 간격*/
    letter-spacing: 1px;
    /* 글자와 input간 간격*/
    margin-bottom: 5px;

}

/* input email*/

#form{
    position: relative;
}

#form .inputBox{
}

#form #email{
    /*input 양옆 넓이 늘리기*/
    width: 300px;
    background: #292929;
    /* input 클릭했을시에 테두리에 나오는 효과 없애기*/
    outline: none;
    border: none;
    /*input칭 확장 시키기*/
    padding: 10px;
    border-radius: 6px;
    font-size: 12px;
}
/* 경고창 */
#text{
    /* 경고창을 아래 한칸 다 차지하게 만들기 */
    display: block;
    color: #000;
    font-weight: 300;
    font-style: italic;
    padding: 5px;
}

/* 검색 창 옆에 아이콘 만들어주기 */
#form.invalid .inputBox:before{
    content: "";
    position: absolute;
    right:12px;
    top:8px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-size: cover;
    background-image: url(invalid.png);
    z-index: 1000;

}

#form.valid .inputBox:before{
    content: "";
    position: absolute;
    right:12px;
    top:7px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-size: cover;
    background-image: url(valid.png);
    z-index: 1000;
}

#form.valid .inputBox{
    caret-color: #01b101;
}
#form.invalid .inputBox{
    caret-color: #be0505;
}
#form .inputBox{
    caret-color: #fff;
}

