*{
    box-sizing: border-box;
}

body{
    background-image:url(https://source.unsplash.com/category/nature/1600x900);
    background-size: cover;
    min-height: 100vh;
    margin:0;
}

article{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size:  1rem;
    padding: 1rem 0.5rem;
    font-weight: 200;

}

.content{
    background-color: rgba(255,255,255, 0.5);
    color: black;
    max-width: 20rem;
}

.control{
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
    padding: 0.2rem;
    /* position = absolute라고 하면 스크롤을 내려도 같이 딸려옴*/
    position: fixed;
    bottom: 0;
    width:100%;
}

.control ul{
    list-style: none;
    padding-left: 0;
}

.control li{
    display: inline-block;
    padding: 0 0.5rem;
}   

.control a{
    color: white;
    text-decoration: none;
}

.control>*{
    display: inline-block;
}

.control .player{
    right: 0;
    position: absolute;
}

