/*reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 내용물이 body를 벗어난 부분을 보이지 않게 한다.*/
body{
    overflow: hidden;
}


/*
section =  전체 배경화면 설정하기 위해 만듬
section 태그에 베이스가 될 배경 색을 그라데이션으로 지정해 준뒤
section nth-child를 사용하여 우리가 원하는 색갈과 위치를 지정하여 베이스 색 위에 첨가한다. 
*/
section{
    border: 5px solid green;
    /* position absolute : content 내용만 자신의 영역으로 삼기*/
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*그라데이션: 개념 참고: https://developer.mozilla.org/ko/docs/Web/CSS/linear-gradient() */
    background: linear-gradient(to bottom, #ff4f8b, #dff1ff);
}

/* base 색과 nth-child에 우리가 선택한 색들을 그라데이션처럼 섞어준다. */
section .color{
    border: 5px solid red;
    position: absolute;
    filter: blur(150px);
}

/* nth-child() = 형제 사이에서의 순서에 따라 요서를 선택한다. 참고: https://developer.mozilla.org/ko/docs/Web/CSS/:nth-child */
section .color:nth-child(1){
 background: #ff359b;
 width: 600px;
 height: 600px;
 top: -350px;
 left: 100px;
}
section .color:nth-child(2){
 background: #00d2ff;
 width: 500px;
 height: 500px;
 bottom: -150px;
 left: 100px;
}
section .color:nth-child(3){
 background: #fffd87;
 width: 300px;
 height: 300px;
 bottom: 50px;
 right: 0px;
}



/* 화면 가운데 icon 아래에 있는 선 하나 만들어주기*/
section::before{
    content: "";
    position: absolute;
    bottom:0;
    width: 100%;
    height: 50%;
    /*쌓여질 위치 선택 - 1일수록 맨 아래 깔리는 것 참고: https://developer.mozilla.org/ko/docs/Web/CSS/z-index */
    z-index: 1;
    backdrop-filter: blur(5px);
    /*그냥 border만 사용하면 차원의 일그러짐을 느낄수 있다 ㅋㅋㅋ*/
    border-top: 1px solid rgba(255, 255, 255 ,0.5);
}



/* 아이콘 창 만들기 */
/* li아이콘들 가로로 정렬하기 */
ul{
    position: relative;
    display: flex;
    z-index: 2;
}
/* a태그 점, 색 없애주고 margin 값 여유 넣어주기*/
ul li{
    position: relative;
    list-style: none;
    margin:20px;
    color: green;
}

/* icon 상자 만들어주기*/
ul li a{
    border: 1px solid rgba(255, 255, 255, 0.8 );
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center; 
    align-items: center;
    /* 유리처럼 만들기 */
    border-right: 1px solid rgba(255, 255, 255 ,0.2);
    border-bottom: 1px solid rgba(255, 255, 255 ,0.2);
    box-shadow: 0 50px 45px rgba(0,0,0,0.1);
    backdrop-filter: blur(2px);
    transition: 0.5s;
}


ul li a:hover{
    transform: translateY(-20px);
    box-shadow: 0 50px 45px rgba(0,0,0,0.3);
    
}
