/*reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* 내용물이 body를 벗어난 부분을 보이지 않게 한다.*/
    overflow: hidden;
}


/* 
section =  전체 배경화면 설정하기 위해 만듬
section 태그에 베이스가 될 배경 색을 그라데이션으로 지정해 준뒤
section nth-child를 사용하여 우리가 원하는 색갈과 위치를 지정하여 베이스 색 위에 첨가한다. 
*/
section{
    border: 5px solid green;
    /* position absolute : content 내용만 자신의 영역으로 삼기*/
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*그라데이션: 개념 참고 https://developer.mozilla.org/ko/docs/Web/CSS/linear-gradient() */
    background: linear-gradient(to bottom, #ff4f8b, #dff1ff);
}

section .color{
    border: 5px solid red;
    position: absolute;
    /* base 색과 nth-child에 우리가 선택한 색들을 그라데이션처럼 섞어준다. */
    filter: blur(150px);
}

/* nth-child() = 형제 사이에서의 순서에 따라 요서를 선택한다. https://developer.mozilla.org/ko/docs/Web/CSS/:nth-child */
section .color:nth-child(1){
 background: #ff359b;
 width: 600px;
 height: 600px;
 top: -350px;
 left: 100px;
}
section .color:nth-child(2){
 background: #00d2ff;
 width: 500px;
 height: 500px;
 bottom: -150px;
 left: 100px;
}
section .color:nth-child(3){
 background: #fffd87;
 width: 300px;
 height: 300px;
 bottom: 50px;
 right: 0px;
}


/* 화면 가운데 icon 아래에 있는 선 하나 만들어주기*/